.root {
    -fx-background-color: linear-gradient(to top, #15173D, #20202f);
    -fx-opacity: 0.95;
}

.button {
    -fx-background-color: #F1E9E9;
    -fx-text-fill: #15173D;
    -fx-font-size: x-large;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #ea72ab;
}

.text-area {
    -fx-font-family: JetBrains Mono, monospace;
    -fx-font-size: 24;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ea72ab;
    -fx-border-width: 1;
}