.root {
    -fx-background-color: linear-gradient(to bottom left, #15173D, #982598, #E491C9);
}

.button {
    -fx-background-color: #F1E9E9;
    -fx-text-fill: #15173D;
    -fx-font-size: x-large;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #15173D;
}

.text-area {
    -fx-font-family: JetBrains Mono, monospace;
    -fx-background-radius: 8;
    -fx-font-size: 24;
}